$color-black-100: #fafafa;
$color-black-150: #f5f5f5;
$color-black-200: #f0f0f0;
$color-black-300: #d2d2d2;
$color-black-400: #b8bbbe;
$color-black-500: #8a8d90;
$color-black-600: #6a6e73;
$color-black-700: #4f5255;
$color-black-800: #3c3f42;
$color-black-850: #212427;
$color-black-900: #151515;
$color-black-1000: #030303;



$color-blue-50: #e7f1fa;
$color-blue-100: #bee1f4;
$color-blue-200: #73bcf7;
$color-blue-300: #2b9af3;
$color-blue-400: #0066cc;
$color-blue-500: #004080;
$color-blue-600: #002952;
$color-blue-700: #001223;



$color-cyan-50: #f2f9f9;
$color-cyan-100: #a2d9d9;
$color-cyan-200: #73c5c5;
$color-cyan-300: #009596;
$color-cyan-400: #005f60;
$color-cyan-500: #003737;
$color-cyan-600: #002323;
$color-cyan-700: #000f0f;



$color-gold-50: #fdf7e7;
$color-gold-100: #f9e0a2;
$color-gold-200: #f6d173;
$color-gold-300: #f4c145;
$color-gold-400: #f0ab00;
$color-gold-500: #c58c00;
$color-gold-600: #795600;
$color-gold-700: #3d2c00;



$color-green-50: #f3faf2;
$color-green-100: #bde5b8;
$color-green-200: #95d58e;
$color-green-300: #6ec664;
$color-green-400: #5ba352;
$color-green-500: #5ba352;
$color-green-600: #1e4f18;
$color-green-700: #0f280d;



$color-light-blue-100: #beedf9;
$color-light-blue-200: #7cdbf3;
$color-light-blue-300: #35caed;
$color-light-blue-400: #00b9e4;
$color-light-blue-500: #008bad;
$color-light-blue-600: #005c73;
$color-light-blue-700: #002d39;



$color-light-green-100: #e4f5bc;
$color-light-green-200: #c8eb79;
$color-light-green-300: #ace12e;
$color-light-green-400: #92d400;
$color-light-green-500: #6ca100;
$color-light-green-600: #486b00;
$color-light-green-700: #253600;



$color-orange-100: #f4b678;
$color-orange-200: #ef9234;
$color-orange-300: #ec7a08;
$color-orange-400: #c46100;
$color-orange-500: #8f4700;
$color-orange-600: #773d00;
$color-orange-700: #3b1f00;



$color-purple-50: #f2f0fc;
$color-purple-100: #cbc1ff;
$color-purple-200: #b2a3ff;
$color-purple-300: #a18fff;
$color-purple-400: #8476d1;
$color-purple-500: #6753ac;
$color-purple-600: #40199a;
$color-purple-700: #1f0066;



$color-red-50: #faeae8;
$color-red-100: #c9190b;
$color-red-200: #a30000;
$color-red-300: #7d1007;
$color-red-400: #470000;
$color-red-500: #2c0000;



$color-white: #ffffff;
